@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    min-height: 100vh;
}

header {
    background-image: linear-gradient(to bottom, #4373BB, #33363C);
    color: #fff;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px
}

header > h1 {
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.363);
    text-align: center;
    padding: 50px;
}

.card {
    width: 500px;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px 5px 0 0;
    background-image: linear-gradient(to bottom, #4373BB, #33363C);
}

.card h1 {
    display: block;
    margin: auto;
    color: #fff;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.308);;
}

img {
    padding-top: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.perfil {
    display: inline-block;
    margin: auto;
    width: 500px;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.596);
}

.perfil img {
    width: 150px;
    display: block;
    margin: 0 auto;
}

div.perfil p {
    max-width: 600px;
    margin: 10px auto;
    padding: 0 15px;
    font-size: 1.5rem;
    line-height: 1.5;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 40px;

}

td, th {
    border: 1px solid black;
    padding: 10px;
}


.botao {

    background-image: url(imagens/25231.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;   
    background-position: center left;
    margin-bottom: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: #33363C;
    color: #fff;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    transition: transform 0.5s ease, box-shadow 0.5s ease;  
    

}

.botao:hover {
    
    transform: scale(1.1);
    background-color: #33363C;
    color: #fff;
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.3);
    
    
}

.botao:active {
    color: yellow;
}

