@charset "UTF-8";

/* Todas as demais midias */

/* Typical Device BreakPoints 

pequena: até 599px
médio: 600px-1023px
grande: 1024px-1439px
extra grande : 1440px ou mais

*/


/* ================================
   💻 TABLET (600px – 1023px)
   ================================ */

@media screen and (min-width: 600px) and (max-width: 1023px) {
    body {
        background: black url(../imagens/back-tablet.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    #phone {
        display: none;
    }

    #tablet {
        display: block;
        margin: auto;
    }
    
}

@media print {
    body {
        background: black url(../imagens/back-print.jpg) no-repeat; /* não funciona no print */
    }

    main {
        border: 2px solid black;
        
    }

    main::after {
        content: " - Versão de Impressora - ";
        display: block;
        text-align: center;
        font-size: 1rem;
        color: black;
        font-family: 'Courier New', Courier, monospace;
        margin-top: 10px;
    }

    main h1 {
        color: black;
        text-shadow: none;
        font-family: 'Courier New', Courier, monospace;
    }

    #phone, #tablet {
        display: none;
    }

    #print {
        display: block;
        margin: auto;

    }
}


/* ================================
   🖥️ DESKTOP (1024px – 1439px)
   ================================ */

@media screen and (min-width: 1024px) and (max-width: 1439px) {

    body {
        background: black url(../imagens/back-pc.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    #phone, #tablet, #print {
        display: none;
    }

    #desktop {
        display: block;
        margin: auto;
    }
}


/* ================================
   🖥️ EXTRA GRANDE (1440px ou mais)
   ================================ */

@media screen and (min-width: 1440px)  {

    body {
        background: black url(../imagens/back-tv.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    #phone, #tablet, #print, #desktop {
        display: none;
    }

    #tv {
        display: block;
        margin: auto;
    }
}

