@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    line-height: 1.6;

}

header {
    background-color: #fff;
    color: #333;
    padding: 20px;

}

 h1, h2, p {
    padding: 10px;
    margin-bottom: 10px;
    text-align: justify;
 }

 img {
    width: 400px;
    height: 400px;
 }


 .flex-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(182, 182, 182);
 }

 .media-text {
    display: flex;
   flex-flow: row wrap-reverse;
   justify-content: space-between;
 }

   .media-text img {
      margin: 10px;
   }

  .text-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

 .text {
   flex: 1 1 500px;

 }

 .media {
    flex: 1 0 500px;

 }

 .media img {
   display: block;
   margin: auto;
 }

 .media iframe {
   display: block;
   margin: auto;

   width: 90%;
 }